body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.quiz-container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}

.quiz-container h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}


#question {
    padding: 20px 0px 20px 0px;
}

.options-container {
    margin-top: 10px;
}

button {
    margin: 10px 5px 30px 0px;
    padding: 10px 20px;
    background-color: #154f8c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-btn {
    width: 300px;
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#submit-btn:hover {
    background-color: #135c13;
    
}

button:hover {
    background-color: #1c65b3;
}

p#result {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}




